:root {
  --main-colour: rgb(27, 37, 52);
}

html {
  background-color: var(--main-colour);
}

body {
  font-family: arial;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
}

#navigate {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav {
  display: flex;
  width: 100vw;
  background-color: white;
}
.logo {
  width: 3%;
  padding: 0 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0 20px;
  width: 80%;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: block;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: green;
  color: white;
}

.hero {
  width: 100%;
  height: 350px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 38, 38);
  color: white;
  overflow: hidden;
}

.heto-btn-container button {
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
}

.main {
  width: 100%;
  height: 500px;
  padding: 20px;
  background-color: rgb(199, 199, 199);
}

.main h2 {
  width: 100%;
  text-align: center;
}

footer {
  background-color: var(--main-colour);
  color: white;
  margin-top: auto;
}

.tophalf-footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.tophalf-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tophalf-footer ul li {
  padding: 10px 0 0 0;
}
.tophalf-footer ul a {
  text-decoration: none;
  color: gray;
}

.copyright-footer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.foot1 {
  width: 15%;
  padding: 20px;
}

.foot1 img {
  filter: opacity(90%);
}
.div-front {
  background-color: white;
  display: flex;
  height: 10%;
  justify-content: center;
  padding: 20px;
}

.foot2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.foot2 img {
  width: 10%;
  background-color: rgb(211, 211, 211);
  border: 5px solid rgb(210, 210, 210);
  border-radius: 50px;
}

footer hr {
  width: 80%;
  border-color: rgba(204, 204, 204, 0.455);
}
